<!DOCTYPE html>

<html lang="{{ app.request.locale|slice(0, 2) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}Ginco Marketplace{% endblock %}</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% block metatags %}
    {% endblock %}

    {% block stylesheets %}
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat%7CRoboto:100,300,400,500,700,900%7CRoboto+Condensed:100,300,400,500,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/syliusshop/css/icon-font-linea.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/syliusshop/css/multirange.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/syliusshop/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/syliusshop/css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/syliusshop/css/themify-icons.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/syliusshop/css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/syliusshop/css/effect.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/syliusshop/css/font-awesome.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/syliusshop/css/product.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/syliusshop/css/slick.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/syliusshop/css/slick-theme.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/syliusshop/css/category.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/syliusshop/css/cartpage.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/syliusshop/css/contact.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/syliusshop/css/owl.theme.default.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/syliusshop/css/owl.carousel.min.css') }}">

        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/syliusshop/css/home.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/syliusshop/css/responsive.css') }}">
    {% block sheets %}
        {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'assets/shop/css/style.css'} %}

    {% endblock %}

        {{ sonata_block_render_event('sylius.shop.layout.stylesheets') }}
    {% endblock %}
    {% block style %}{% endblock %}

    {{ sonata_block_render_event('sylius.shop.layout.head') }}
</head>

<body class="pushable">
    <!-- push menu-->
    <div class="pushmenu menu-home5">
        <div class="menu-push">
            <span class="close-left js-close"><i class="fa fa-times f-20"></i></span>
            <div class="clearfix"></div>
            <form role="search" method="get" id="searchform" class="searchform" action="/search">
                <div>
                    <label class="screen-reader-text" for="q"></label>
                    <input type="text" placeholder="Search for products" value="" name="q" id="q" autocomplete="off">
                    <input type="hidden" name="type" value="product">
                    <button type="submit" id="searchsubmit"><i class="ion-ios-search-strong"></i></button>
                </div>
            </form>
            <ul class="nav-home5 js-menubar">
                <li class="level1 active dropdown">
                    <a href="#">Home</a>
                    <span class="icon-sub-menu"></span>
                    <ul class="menu-level1 js-open-menu">
                        <li class="level2"><a href="home_v1.html" title="">Home 1</a></li>
                        <li class="level2"><a href="home_v2.html" title="">Home 2</a></li>
                        <li class="level2"><a href="home_v3.html" title="">Home 3</a></li>
                    </ul>
                </li>
                <li class="level1 active dropdown"><a href="#">Shop</a>
                    <span class="icon-sub-menu"></span>
                    <div class="menu-level1 js-open-menu">
                        <ul class="level1">
                            <li class="level2">
                                <a href="#">Shop Type</a>
                                <ul class="menu-level-2">
                                    <li class="level3"><a href="category_v1.html" title="">Category V1</a></li>
                                    <li class="level3"><a href="category_v1_2.html" title="">Category V1.2</a></li>
                                    <li class="level3"><a href="category_v2.html" title="">Category V2</a></li>
                                    <li class="level3"><a href="category_v2_2.html" title="">Category V2.2</a></li>
                                    <li class="level3"><a href="category_v3.html" title="">Category V3</a></li>
                                    <li class="level3"><a href="category_v3_2.html" title="">Category V3.2</a></li>
                                    <li class="level3"><a href="category_v4.html" title="">Category V4</a></li>
                                    <li class="level3"><a href="category_v4_2.html" title="">Category V4.2</a></li>
                                </ul>
                            </li>
                            <li class="level2">
                                <a href="#">Single Product Type</a>
                                <ul class="menu-level-2">
                                    <li class="level3"><a href="product_v1.html" title="">Product Single 1</a></li>
                                    <li class="level3"><a href="product_v2.html" title="">Product Single 2</a></li>
                                    <li class="level3"><a href="product_v3.html" title="">Product Single 3</a></li>
                                </ul>
                            </li>
                            <li class="level2">
                                <a href="#">Order Page</a>
                                <ul class="menu-level-2">
                                    <li class="level3"><a href="cartpage.html" title="">Cart Page</a></li>
                                    <li class="level3"><a href="checkout.html" title="">Checkout</a></li>
                                    <li class="level3"><a href="compare.html" title="">Compare</a></li>
                                    <li class="level3"><a href="quickview.html" title="">Quickview</a></li>
                                    <li class="level3"><a href="trackyourorder.html">Track Order</a></li>
                                    <li class="level3"><a href="wishlist.html">WishList</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </li>
                <li class="level1">
                    <a href="#">Pages</a>
                    <span class="icon-sub-menu"></span>
                    <ul class="menu-level1 js-open-menu">
                        <li class="level2"><a href="about.html" title="About Us ">About Us </a></li>
                        <li class="level2"><a href="contact.html" title="Contact">Contact</a></li>
                        <li class="level2"><a href="404.html" title="404">404</a></li>
                    </ul>
                </li>
                <li class="level1">
                    <a href="#">Blog</a>
                    <span class="icon-sub-menu"></span>
                    <ul class="menu-level1 js-open-menu">
                        <li class="level2"><a href="blog.html" title="Blog Standar">Blog Category</a></li>
                        <li class="level2"><a href="blogdetail.html" title="Blog Gird">Blog Detail</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- Menu Mobile -->
    <div class="menu-mobile-left-content">
        <ul>
            <li><a href="#"><img src="{{ asset('bundles/syliusshop/img/icon_hot.png') }}" alt="Icon Hot Deals" /> <p>Hot Deals</p></a></li>
            <li><a href="#"><img src="{{ asset('bundles/syliusshop/img/icon_food.png') }}" alt="Icon Food" /> <p>Food</p></a></li>
            <li><a href="#"><img src="{{ asset('bundles/syliusshop/img/icon_mobile.png') }}" alt="Icon Mobile & Tablet" /> <p>Mobile & Tablet</p></a></li>
            <li><a href="#"><img src="{{ asset('bundles/syliusshop/img/icon_electric.png') }}" alt="Icon Electric Appliances" /> <p>Electric Appliances</p></a></li>
            <li><a href="#"><img src="{{ asset('bundles/syliusshop/img/icon_computer.png') }}" alt="Icon Electronics & Technology" /> <p>Electronics & Technology</p></a></li>
            <li><a href="#"><img src="{{ asset('bundles/syliusshop/img/icon_fashion.png') }}" alt="Icon Fashion" /> <p>Fashion</p></a></li>
            <li><a href="#"><img src="{{ asset('bundles/syliusshop/img/icon_health.png') }}" alt="Icon Health & Beauty" /> <p>Health & Beauty</p></a></li>
            <li><a href="#"><img src="{{ asset('bundles/syliusshop/img/icon_mother.png') }}" alt="Icon Mother & Baby" /> <p>Mother & Baby</p></a></li>
            <li><a href="#"><img src="{{ asset('bundles/syliusshop/img/icon_book.png') }}" alt="Icon Books & Stationery" /> <p>Books & Stationery</p></a></li>
            <li><a href="#"><img src="{{ asset('bundles/syliusshop/img/icon_tablet.png') }}" alt="Icon Home & Life" /> <p>Home & Life</p></a></li>
            <li><a href="#"><img src="{{ asset('bundles/syliusshop/img/icon_sport.png') }}" alt="Icon Sports & Outdoors" /> <p>Sports & Outdoors</p></a></li>
            <li><a href="#"><img src="{{ asset('bundles/syliusshop/img/icon_auto.png') }}" alt="Icon Auto & Moto" /> <p>Auto & Moto</p></a></li>
            <li><a href="#"><img src="{{ asset('bundles/syliusshop/img/icon_voucher.png') }}" alt="Icon Voucher Service" /> <p>Voucher Service</p></a></li>
        </ul>
    </div>
    <!-- Header Box -->
    <div class="wrappage">
        <header class="relative full-width box-shadow">
            {% include '@SyliusShop/_header.html.twig' %}

            {{ sonata_block_render_event('sylius.shop.layout.after_header') }}



        </header>

        <!-- Content Box -->
        <div class="relative clearfix full-width">
            <div class="container">
                {% include '@SyliusShop/_flashes.html.twig' %}
            </div>
            {% block content %} {% endblock %}
        </div>

        <!-- Footer Box -->
        <footer class="relative full-width">
            <div class=" top-footer full-width">
                <div class="clearfix container-web relative">
                    <div class=" container">
                        <div class="row">
                            <div class="clearfix col-md-9 col-sm-12 clear-padding col-xs-12">
                                <div class="clearfix text-subscribe text-subscribe">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    <p>sign up for newsletter</p>
                                    <p>Get updates on discount & counpons.</p>
                                </div>
                                <div class="clearfix form-subscribe">
                                    <input type="text" name="email-subscribe" placeholder="Enter your email . . .">
                                    <button class="animate-default button-hover-red">subscribe</button>
                                </div>
                            </div>
                            <div class="clearfix col-md-3 col-sm-12 col-xs-12 clear-padding social-box text-right">
                                <a href="#"><img src="{{ asset('bundles/syliusshop/img/social_tw-min.png') }}" alt="Icon Social Twiter"></a>
                                <a href="#"><img src="{{ asset('bundles/syliusshop/img/social_fa-min.png') }}" alt="Icon Social Facebook"></a>
                                <a href="#"><img src="{{ asset('bundles/syliusshop/img/social_int-min.png') }}" alt="Icon Social Instagram"></a>
                                <a href="#"><img src="{{ asset('bundles/syliusshop/img/social_yt-min.png') }}" alt="Icon Social Youtube" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix container-web relative">
                <div class=" container clear-padding">
                    <div class="row">
                        <div class="clearfix col-md-3 col-sm-6 col-xs-12 text-footer">
                            <p>my account</p>
                            <ul class="list-footer">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Login</a></li>
                                <li><a href="#">My Cart</a></li>
                                <li><a href="#">My Wishlist</a></li>
                                <li><a href="#">My Compare</a></li>
                            </ul>
                        </div>
                        <div class="clearfix col-md-3 col-sm-6 col-xs-12 text-footer">
                            <p>information</p>
                            <ul class="list-footer">
                                <li><a href="#">Information</a></li>
                                <li><a href="#">Orders History</a></li>
                                <li><a href="#">My Wishlist</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Site Map</a></li>
                            </ul>
                        </div>
                        <div class="clearfix col-md-3 col-sm-6 col-xs-12 text-footer">
                            <p>our services</p>
                            <ul class="list-footer">
                                <li><a href="#">Product Recall</a></li>
                                <li><a href="#">Gift Vouchers</a></li>
                                <li><a href="#">Returns And Exchanges</a></li>
                                <li><a href="#">Shipping Options</a></li>
                                <li><a href="#">Terms Of Use</a></li>
                            </ul>
                        </div>
                        <div class="clearfix col-md-3 col-sm-6 col-xs-12 text-footer">
                            <p>contact us</p>
                            <ul class="icon-footer">
                                <li><i class="fa fa-home" aria-hidden="true"></i> 262 Milacina Mrest, Behansed, Paris</li>
                                <li><i class="fa fa-envelope" aria-hidden="true"></i> contact@yourcompany.com</li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i> 070-7782-9137</li>
                                <li><i class="fa fa-fax" aria-hidden="true"></i> 070-7782-9138</li>
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 AM - 18:00 PM</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" bottom-footer full-width">
                <div class="clearfix container-web">
                    <div class=" container">
                        <div class="row">
                            <div class="clearfix col-md-7 clear-padding copyright">
                                <p>Copyright © 2018 by Ginco Group. All Rights Reserved. <span class="float-right">Designed by: <a href="">InfoSys</a> </span></p>
                            </div>
                            <div class="clearfix footer-icon-bottom col-md-5 float-right clear-padding">
                                <div class="icon_logo_footer float-right">
                                    <img src="{{ asset('bundles/syliusshop/img/image_payment_footer-min.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>




    </div>

    <!-- End Footer Box -->
    <script src="{{ asset('bundles/syliusshop/js/jquery-3.3.1.min.js') }}" defer=""></script>
    <script src="{{ asset('bundles/syliusshop/js/bootstrap.min.js') }}" defer=""></script>
    <script src="{{ asset('bundles/syliusshop/js/multirange.js') }}" defer=""></script>
    <script src="{{ asset('bundles/syliusshop/js/slick.min.js') }}" defer=""></script>
{% block scripts %} {% endblock %}
    <script src="{{ asset('bundles/syliusshop/js/owl.carousel.min.js') }}" defer=""></script>
    <script src="{{ asset('bundles/syliusshop/js/owl.carousel.min.js') }}" defer=""></script>
    <script src="{{ asset('bundles/syliusshop/js/scripts.js') }}" defer=""></script>

    {% block javascripts %}
        {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'assets/shop/js/app.js'} %}

        {{ sonata_block_render_event('sylius.shop.layout.javascripts') }}
    {% endblock %}
</body>
</html>
